# app
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=AI Wallpaper
NEXT_PUBLIC_APP_DESCRIPTION=Generate stunning AI wallpapers with just a text prompt
NEXT_PUBLIC_DEFAULT_LOCALE=en
NEXT_PUBLIC_LOCALE_DETECT_ENABLED=false
NEXT_PUBLIC_THEME=aiwallpaper
NEXT_PUBLIC_APPEARANCE=dark

# database
DATABASE_PROVIDER=sqlite
DATABASE_URL=file:<PROJECT_PATH>/data/local.db
DB_SCHEMA_FILE=./src/config/db/schema.sqlite.ts
DB_MIGRATIONS_OUT=./src/config/db/migrations_sqlite
DB_SINGLETON_ENABLED=true
DB_MAX_CONNECTIONS=1

# auth
AUTH_URL=http://localhost:3000
AUTH_SECRET=<openssl rand -base64 32>
